.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #44464d;
    color: rgb(255, 255, 255);
    letter-spacing: 2.5px;
    font-family: 'Alfa Slab One', cursive;
  }
  
  .main-welcome{
    color: #b5bac5;
    margin: 20px;
    padding: 20px;
    font-family: 'Livvic', sans-serif;
  }
  
  .main-interact-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
  }