<h1 class="main-header"> WELCOME COMRADES</h1>
<div class="main-interact-img">
    <map name="map-of-tarkov">
        <area title="Customs" shape="rect" coords="519,253,661,285" 
            routerLink="/dashboard/map-detail/0">
        <area title="Factory" shape="rect" coords="376,337,511,369" 
            routerLink="/dashboard/map-detail/1">
        <area title="Interchange" shape="rect" coords="566,191,758,225" 
            routerLink="/dashboard/map-detail/2">
        <area title="Woods" shape="rect" coords="312,232,436,265" 
            routerLink="/dashboard/map-detail/3">
        <area title="Shoreline" shape="rect" coords="454,611,301,644" 
            routerLink="/dashboard/map-detail/4">
    </map>  
    <img alt="map_of_tarkov.png" src="../assets/map_of_tarkov.png"
        width="912" height="758" usemap="#map-of-tarkov">
</div>
<div class="main-welcome"> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Facilisis sed odio 
    morbi quis. In egestas erat imperdiet sed euismod. Diam sit amet nisl 
    suscipit adipiscing bibendum est ultricies integer. Aliquet enim tortor 
    at auctor urna nunc id cursus metus. At varius vel pharetra vel turpis nunc.
    Elementum nisi quis eleifend quam adipiscing vitae. Eu augue ut lectus arcu
    bibendum. Neque gravida in fermentum et sollicitudin. Sollicitudin nibh
    sit amet commodo nulla facilisi nullam. Enim ut tellus elementum sagittis 
    vitae et leo duis ut. Egestas purus viverra accumsan in. Venenatis cras sed 
    felis eget velit aliquet. Massa massa ultricies mi quis hendrerit. Sed cras 
    ornare arcu dui vivamus arcu felis bibendum ut. Risus pretium quam 
    vulputate dignissim suspendisse in est. Id faucibus nisl tincidunt eget 
    nullam. Mauris a diam maecenas sed. Vitae purus faucibus ornare suspendisse 
    sed nisi lacus sed viverra. Arcu cursus euismod quis viverra nibh cras 
    pulvinar mattis nunc. Donec ac odio tempor orci dapibus ultrices. Turpis 
    tincidunt id aliquet risus feugiat in ante. Sed nisi lacus sed viverra 
    tellus in. Rutrum quisque non tellus orci. Ligula ullamcorper malesuada 
    proin libero. Interdum varius sit amet mattis vulputate enim nulla aliquet 
    porttitor. Faucibus scelerisque eleifend donec pretium vulputate sapien nec 
    sagittis aliquam. Nibh tellus molestie nunc non blandit massa enim nec. Leo 
    vel orci porta non pulvinar neque laoreet suspendisse interdum. Posuere 
    morbi leo urna molestie at elementum eu. Erat imperdiet sed euismod nisi 
    porta lorem mollis aliquam ut. Vulputate eu scelerisque felis imperdiet. 
</div>